<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DataLoggerDBConnectionString"
         connectionString=
         "Data Source=.\sqlexpress12;
         Initial Catalog=DataLoggerDB;
         Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages validateRequest="false" />
    <httpRuntime targetFramework="4.5" maxUrlLength="10999" maxQueryStringLength="2097151" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>